{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}


<section class="container my-5" style="width: 350px; margin-left: auto; margin-right: auto;">    

            <form method="post">
            {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">First step</h1>

            <input type="text" list="destination" name="destination" value="{{flight_data.destination }}" placeholder="Destination" required="" class="form-control"/>
            <datalist id="destination">
                {% for i in data.destination %}
                <option value="{{ i }}">
                {% endfor %}
            </datalist>

            <input type="text" list="datetime" name="datetime" value="{{ flight_data.datetime }}" placeholder="Datetime" required="" class="form-control"/>
            <datalist id="datetime">
            </datalist>

            <input type="number" name="passengers" value="{{ flight_data.passengers }}" min="1" placeholder="Passengers" required="" class="form-control"/>

            <div class="d-grid gap-2 my-3">
            <input type="submit" class="btn btn-success" value="Next">
            </div> 
            </form>
</section>

{% endblock %}

{% block script %}
<script src="{% get_media_prefix %}js/datetime.js"></script>
{% endblock %}
